.img-nav {
  width: 150%;
  margin: auto;
  padding-right: 30px;
}

* {
  font-family: "Poppins";
  font-weight: bold;
}

.container {
  max-width: 140px !important;
  width: 140px;
  margin: 0;
  text-align: center;
}

.links-nav {
  text-decoration: none;
  list-style-type: none;
}

.collapse {
  margin: auto !important;
  flex-grow: 0 !important;
}

.btn {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.nav-link {
  padding: 20px !important;
}

.container-lg {
  text-align: center;
  margin-top: 150px;
}

#primeiro-titulo {
  font-family: "Poppins";
  font-weight: bold;
  font-size: 45px;
  color: #071c4d;
  letter-spacing: -2px;
}

#primeiro-paragrafo {
  text-align: center;
  font-size: 20px;
  font-weight: lighter;
  margin-top: 35px;
  color: #575757;
}

.banner-buttons {
  display: flex;
  justify-content: center;
  margin-top: 35px;
  gap: 10px; /* Espaço opcional entre os botões */
}

.b-btn2 {
  background-color: white !important;
  border: 2px solid #007bff !important; /* Borda azul */
  color: #007bff !important; /* Texto azul */
  transition: background-color 0.3s, color 0.3s !important; /* Transição suave */
}

.b-btn2:hover {
  background-color: #007bff !important; /* Fundo azul */
  color: white !important; /* Texto branco */
}

#img-dashboard {
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  position: relative;
  width: 300px; /* Defina a largura do contêiner conforme necessário */
  height: 200px; /* Defina a altura do contêiner conforme necessário */
  margin-bottom: 20px; /* Espaço abaixo das imagens */
}

.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Ajusta a largura das imagens para preencher o contêiner */
  height: auto; /* Mantém a proporção das imagens */
}

#img-dashboard {
  z-index: 1; /* Imagem de fundo */
}

#img-carrinhos {
  z-index: 2; /* Imagem sobreposta */
}

#img-painel {
  z-index: 3; /* Imagem sobreposta */
}
body {
  background-color: transparent !important; /* Define o fundo como transparente */
}

.bg-body-tertiary {
  background-color: #fff !important;
}
